*.pyc
**/__pycache__/
/dist/
**/*.egg-info/
*.ipynb_checkpoints
*.so
*.o
*.swp
*.tar
**/outputs/
**/outputs_0606/
**/outputs_temp/
/data/
**/weights/*
experiments_*/
prompt_tokenize.ipynb
*/__pycache__/**
wandb_api.ipynb
wandb_postprocess.sh
.vscode/
text.txt
results.csv
*/pds copy.py
*/pds_attention.py
*/pds_ip2p.py
**/dreambooth/
3d_editing/README.md
temp_dataparser.py